



<h3 *ngIf="editado" >Tu perfil ha sido cambiado</h3>
<div class="cont">
<div class="center">
        <div class="col s12 m7">
          <div class="card">
            <div class="card-content">
                    <agm-map style="width: 600px;" [latitude]="vancant.location.coordinates[1]" [longitude]="vancant.location.coordinates[0]" [zoom]="17" >
                                 <agm-marker [latitude]="vancant.location.coordinates[1]" [longitude]="vancant.location.coordinates[0]"></agm-marker>
                                </agm-map>
                    <agm-map style="height: 300px" [latitude]="vancant.location.coordinates[1]" [longitude]="vancant.location.coordinates[0]" [zoom]="17" >
                            <agm-marker [latitude]="vancant.location.coordinates[1]" [longitude]="vancant.location.coordinates[0]"></agm-marker>
                    </agm-map>
                    <h2>{{title}}</h2>
                    <h4>Title:</h4><input type="text"  value="{{title}}" [(ngModel)]="title">
                    <h4>correo: </h4><input type="text" value="{{position}}" [(ngModel)]="position">
                    <h4>Horario: </h4><input type="text" value="{{salary}}" [(ngModel)]="salary">
                    <h4>Telefono: </h4><input type="text" value="{{schedule}}"  [(ngModel)]="schedule">
                    <h4>Descripcion: </h4><textarea type="text" value="{{description}}" [(ngModel)]="description"></textarea> 
                    
                    
            </div>
            <div class="card-action">
                        <div class="cont">
                    <button class="btn waves-effect waves-light" (click)="return()">Regresear<i class="material-icons right"></i></button>
                    <button class="btn waves-effect waves-light"  (click)="edit()">Editar<i class="material-icons right"></i></button>      
            </div>
                </div>
          </div>
        </div>
      </div>
</div>            