<h1>My vacancies</h1>
<h2 *ngIf="del" style="color: red" >Tu solicitud Fue canselada</h2>
<section *ngFor="let p of vacances" >
  <h2>Titulo: {{p.title}}</h2>
  <img src="{{p.restaurant.photoURL}}" alt="">
  <h3>Puresto: {{p.position}}</h3>
  <h3>Salario: {{p.salary}}</h3>
  <h3>Descripcion: {{p.description}}</h3>
  <h3>Horario: {{p.schedule}}</h3>
  <button (click)="noSolicitar(p)" >Dejar de solicitar</button>
  <button (click)="comment(p.restaurant._id)" >Comentar</button>
</section>
<button (click)="regresar()">regresar</button>