

<div class="col s12 m2">
    <h2 class="z-depth-5 center">My vacancies</h2>
</div>

<h2 *ngIf="del" style="color: red" >Tu vacante fue eliminada</h2>
<div class="cont">

<button class="btn waves-effect waves-light" (click)="newVac()" >Crear Vacante  <i class="material-icons right"></i></button>
<button class="btn waves-effect waves-light" (click)="regresar()">regresar  <i class="material-icons right"></i></button>
</div>
<h1>{{p.restaurant.photoURL}}</h1>


<section *ngFor="let p of vacances" >
    <div class="cont">
<div class="center">
    <div class="col s12 m7">
      <div class="card">
        <div class="card-image">
          <img [src]="p.restaurant.photoURL">
          <span class="card-title"></span>
        </div>
        <div class="card-content">
            <h2>Tutulo: {{p.title}}</h2>
            <h3>Puesto: {{p.position}}</h3>
            <h3>Salario: {{p.salary}}</h3>
            <h3>Descripcion: {{p.description}}</h3>
            <h3>Horario: {{p.schedule}}</h3>
            <h3>Lugar:</h3>
            <agm-map style="height: 300px" [latitude]="p.location.coordinates[1]" [longitude]="p.location.coordinates[0]" [zoom]="17" >
              <agm-marker [latitude]="p.location.coordinates[1]" [longitude]="p.location.coordinates[0]"></agm-marker>
            </agm-map>


        </div>
        <div class="card-action">
            <div class="cont">

            <button class="btn waves-effect waves-light" (click)="edit(p._id)" >Editar  <i class="material-icons right"></i></button>
            <button class="btn waves-effect waves-light" (click)="delite(p._id)" >Eliminar  <i class="material-icons right"></i></button>
       </div>
       </div>
      </div>
    </div>
  </div>
  </div>
</section>             
