<div *ngIf="selec" >
        <nav>
              <div class="nav-wrapper">
                <ul id="nav-mobile" class="left hide-on-med-and-down">
                        <li><a (click)="use()" >Ususario</a></li>
                        <li><a (click)="rest()" >Restaursnte</a></li>
                </ul>
            </div>
       </nav>
  </div>


<div *ngIf="res" >
        <nav>
              <div class="nav-wrapper">
                <a  class="brand-logo right">Restaurante</a>
                <ul id="nav-mobile" class="left hide-on-med-and-down">
                  <li><a [routerLink]="['signupRestaurant']" >Signup</a></li>
                  <li><a [routerLink]="['restaurantlogin']" >Login</a></li>
                  <li><a (click)="logout()" >Logout</a></li>
                  <li><a (click)="use()" >Soy Ususario</a></li>
                </ul>
              </div>
       </nav>
  </div>
     <div *ngIf="user" >
            <nav>
                  <div class="nav-wrapper"> 
                    <a  class="brand-logo right">Ususario</a>
                    <ul id="nav-mobile" class="left hide-on-med-and-down">
                      <li><a [routerLink]="['signup']" >Signup</a></li>
                      <li><a [routerLink]="['login']" >Login</a></li>
                      <li><a (click)="logout()" >Logout</a></li>
                      <li><a (click)="rest()" >Soy Restaurante</a></li>
                    </ul>
                  </div>
           </nav>
      </div>
      <section>
          <router-outlet></router-outlet>
      </section>

      <router-outlet></router-outlet>
